html, body {
  width:100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Lato";
  /*overflow-x:scroll;*/
}

.modal-close:hover, .contact:hover{
  background-color:#C9D6FA;
}

.modal-close, .contact{
  /* CSS transitions */
  -webkit-transition: .5s ease-in-out; /* Safari */
  -moz-transition: .5s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .5s ease-in-out; /* Microsoft specific */
  -o-transition: .5s ease-in-out; /* Opera */
  transition: .5s ease-in-out; /* general & Google Chrome */
}

.modal-content h4{
  color:#2980b9;
}

.pclass{
  color:#33cccc;
}

#section1 h3, #section1 h5 {
  text-shadow:2px 2px 5px black;
}

#section1, #section2,#section3,#section4,#section5,#section6{
  width:100%;
  height:100%;
  position:relative;
}

#section2 {
  background-image:url("../pictures/CTE/reslab.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section3 {
  background-image:url("../pictures/CTE/room170.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section4 {
  background-image:url("../pictures/CTE/room185.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section5 {
  background-image:url("../pictures/CTE/room210.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

#section6 {
  background-image:url("../pictures/CTE/room175.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chip{
  position:absolute;
  top:15px;
  left:15px;
  /* CSS transitions */
  -webkit-transition: .5s ease-in-out; /* Safari */
  -moz-transition: .5s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .5s ease-in-out; /* Microsoft specific */
  -o-transition: .5s ease-in-out; /* Opera */
  transition: .5s ease-in-out; /* general & Google Chrome */
}

ul li{
  list-style-type:circle;
}
/*FOR CLICK CIRCLES*/
a{
  display:block;
}

.circle1{
  border-radius:50%;
  background-color:transparent;
  border: 3px #e8f3fc solid;

  -webkit-box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4); 

  /* CSS transitions */
  -webkit-transition: .5s ease-in-out; /* Safari */
  -moz-transition: .5s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .5s ease-in-out; /* Microsoft specific */
  -o-transition: .5s ease-in-out; /* Opera */
  transition: .5s ease-in-out; /* general & Google Chrome */
}

#microscopeline, #plantsline, #carsline, #mockup1line, #mockup2line, #posterline, #compline, #paperline, #houseline, #blueboxline, #bridgeline, #workline, #vexline, #projline{
  background-color:#e8f3fc;
}

#house:hover, #bluebox:hover, #bridge:hover, #microscope:hover, #plants:hover, #cars:hover, #mockup1:hover, #mockup2:hover, #poster:hover, #comp:hover, #paper:hover, #work:hover, #vex:hover, #proj:hover{
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 128, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 128, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 128, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4); 
}

.chip:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4); 
}


#house:hover~#houselinetext, #bluebox:hover~#blueboxlinetext, #bridge:hover~#bridgelinetext, #microscope:hover~#microscopelinetext, #plants:hover~#plantslinetext, #cars:hover~#carslinetext, #mockup1:hover~#mockup1linetext, #mockup2:hover~#mockup2linetext, #poster:hover~#posterlinetext, #comp:hover~#complinetext, #paper:hover~#paperlinetext, #work:hover~#worklinetext, #vex:hover~#vexlinetext, #proj:hover~#projlinetext{
  opacity:100;
}

#phouse, #pbluebox, #pbridge, #pmicroscope, #pplants, #pcars, #pmockup1, #pmockup2, #pposter, #pcomp, #ppaper, #pwork, #pvex, #pproj{
  font-size:10pt;
  width:270px;
  position:absolute;
  bottom:3px;
  font-family:"Open Sans";
  text-align:justify;
  background-color:rgba(33,41,92,.8);
  font-weight:bold;
  color:white;
  padding-left:5px;
  padding-right:5px;
  z-index:800;
}

#houselinetext,#blueboxlinetext, #bridgelinetext, #microscopelinetext, #plantslinetext, #carslinetext, #mockup1linetext, #mockup2linetext, #posterlinetext, #complinetext, #paperlinetext, #worklinetext, #vexlinetext, #projlinetext{
  opacity:0;
  -o-transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
  transition: opacity .7s ease-in-out;
}

/*PLANTS*/
#plants{
  position:relative;
  top:10%;
  left:27%;
  width:6%;
  height:6vw;
}

#plantsline{
  width:1px;
  height:2px;
  position:relative;
  top:3%;
  left:32.8%;
}

#plantslinetext{
  background-color:transparent;
  position:relative;
  top:13%;
  left:41%;
  width:300px;
}

/*MICROSCOPE*/
#microscope{
  position:relative;
  top:47%;
  left:79.5%;
  width:11%;
  height:11vw;
}

#microscopeline{
  width:1px;
  height:2px;
  position:absolute;
  top:60%;
  right:20.3%;
}

#microscopelinetext{
  background-color:transparent;
  position:relative;
  top:47%;
  left:50%;
  width:300px;
}

/*WORKSPACE*/
#work{
  position:relative;
  top:40%;
  left:43%;
  width:6%;
  height:6vw;
}

#workline{
  width:2px;
  height:1px;
  position:absolute;
  bottom:59.8%;
  left:46%;
}

#worklinetext{
  background-color:transparent;
  position:relative;
  top:14%;
  left:39%;
  width:300px;
}

/*VEX*/
#vex{
  position:relative;
  top:47%;
  left:27%;
  width:10%;
  height:10vw;
}

#vexline{
  width:1px;
  height:2px;
  position:absolute;
  top:70%;
  left:36.9%;
}

#vexlinetext{
  background-color:transparent;
  position:relative;
  top:44%;
  left:45%;
  width:300px;
}

/*POE PROJECT*/
#proj{
  position:relative;
  top:14%;
  left:82%;
  width:10%;
  height:10vw;
}

#projline{
  width:1px;
  height:2px;
  position:absolute;
  top:56%;
  right:17.9%;
}

#projlinetext{
  background-color:transparent;
  position:relative;
  top:15%;
  left:50%;
  width:300px;
}

/*CARS*/
#cars{
  position:relative;
  top:60%;
  left:69%;
  width:8%;
  height:8vw;
}

#carsline{
  width:1px;
  height:2px;
  position:relative;
  top:53%;
  left:76.8%;
}

#carslinetext{
  background-color:transparent;
  position:relative;
  top:51%;
  left:78%;
  width:300px;
}

/*MOCKUP 1*/
#mockup1{
  position:relative;
  top:4%;
  left:18%;
  width:5%;
  height:5vw;
}

#mockup1line{
  width:1px;
  height:2px;
  position:relative;
  top:2%;
  left:22.4%;
}

#mockup1linetext{
  background-color:transparent;
  position:relative;
  top:1.4%;
  left:24%;
  width:300px;
}

/*MOCKUP 2*/
#mockup2{
  position:relative;
  top:30%;
  left:20%;
  width:20%;
  height:20vw;
}

#mockup2line{
  width:1px;
  height:2px;
  position:relative;
  top:25%;
  left:37%;
}

#mockup2linetext{
  background-color:transparent;
  position:relative;
  top:23%;
  left:42%;
  width:300px;
}

/*HOUSE*/
#house{
  position:relative;
  top:56%;
  left:38%;
  width:7%;
  height:7vw;
}

#houseline{
  width:1px;
  height:2px;
  position:relative;
  top:51%;
  left:44.8%;
}

#houselinetext{
  background-color:transparent;
  position:relative;
  top:50%;
  left:46%;
  width:300px;
}

/*BLUE BOX*/
#bluebox{
  position:relative;
  top:27%;
  left:23.3%;
  width:4.5%;
  height:4.5vw;
}

#blueboxline{
  width:2px;
  height:1px;
  position:absolute;
  bottom:40%;
  left:25.5%;
}

#blueboxlinetext{
  background-color:transparent;
  position:relative;
  top:2%;
  left:17%;
  width:300px;
}

/*BRIDGE*/
#bridge{
  position:relative;
  top:20%;
  left:60.5%;
  width:9%;
  height:9vw;
}

#bridgeline{
  width:2px;
  height:1px;
  position:absolute;
  bottom:64%;
  left:65%;
}

#bridgelinetext{
  background-color:transparent;
  position:relative;
  top:-10%;
  left:58%;
  width:300px;
}

/*POSTER*/
#poster{
  position:relative;
  top:-23.8%;
  left:66.5%;
  width:8%;
  height:8vw;
}

#posterline{
  width:2px;
  height:1px;
  position:relative;
  top:-24%;
  left:70.5%;
}

#posterlinetext{
  background-color:transparent;
  position:relative;
  top:-9%;
  left:63.5%;
  width:300px;
}

/*COMPUTER*/
#comp{
  position:relative;
  top:33%;
  left:23%;
  width:4.5%;
  height:4.5vw;
}

#compline{
  width:1px;
  height:2px;
  position:relative;
  top:29%;
  left:27.3%;
}

#complinetext{
  background-color:transparent;
  position:relative;
  top:28%;
  left:28%;
  width:300px;
}

/*PAPER*/
#paper{
  position:relative;
  top:63%;
  left:28%;
  width:8%;
  height:8vw;
}

#paperline{
  width:1px;
  height:2px;
  position:relative;
  top:55%;
  left:36%;
}

#paperlinetext{
  background-color:transparent;
  position:relative;
  top:54%;
  left:37%;
  width:300px;
}


/* START SIDE DOT NAVIGATION */
#sectionNav {
    display: block;
    position: fixed;
    top: calc(50% - 96px);
    right: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index:100;
}

#sectionNav li {
    position: relative;
    display: block;
}

#sectionNav li .label {
    position: absolute;
    display: block;
    text-align: right;
    width: 84px;
    top: 0px;
    right: 0px;
    padding-right: 25px;
    opacity: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

#sectionNav li .dot:hover .label {
    opacity: 1;
}

#sectionNav li .dot {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 4px;
    cursor: pointer;
}

#sectionNav li .dot .inner {
    display: block;
    position: relative;
    left: 8px;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    opacity: 0.5;
    background: white;
}

#sectionNav li .dot:hover .inner:not(.active) {
    opacity: 1;
    width: 6px;
    height: 6px;
    top: 7px;
    left: 7px;
}

#sectionNav li .dot .active {
    opacity: 1;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 6px;
}
/*END SIDE DOT NAVIGATION*/


/*START MODAL SLIDESHOW CSS*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7, .mySlides8, .mySlides9 {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #37b3de;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add background */
.prev:hover, .next:hover {
  background-color: rgba(33,41,92,.7);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(33,41,92,.7);
}

/* Slide Number __ out of __ */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot1, .dot2, .dot3, .dot4, .dot5, .dot6, .dot7, .dot8, .dot9 {
  cursor:pointer;
  height: 6px;
  width: 6px;
  margin: 0 4px;
  background-color: #37b3de;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
    /* CSS transitions */
  -webkit-transition: .5s ease-in-out; /* Safari */
  -moz-transition: .5s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .5s ease-in-out; /* Microsoft specific */
  -o-transition: .5s ease-in-out; /* Opera */
  transition: .5s ease-in-out; /* general & Google Chrome */


}

.active2, .dot1:hover, .dot2:hover, .dot3:hover, .dot4:hover, .dot5:hover, .dot6:hover, .dot7:hover, .dot8:hover, .dot9:hover{
  background-color: #017ba5;
  height:9px;
  width:9px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}