#sec1, #sec2, #sec3, #sec4 {
	height:100%;
	width:100%;
}

#sec1{
	background-image: url("pictures/technology_student_association.png");
}

#sec2 {
	background-color:#1BBC9B;
}

#sec3{
	background-color:white;
} 

#sec4 {
	background-color:#1BBC9B;
}

#hthsTSATitle {
	text-align:center;
}

#hthsTSAHeader {
	text-align:center;
}

#hthsTSASlogan {
	text-align:center;
}