/*General CSS*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,500italic,400italic,300italic,300);

body {
  font-family:'Lato',sans-serif;
  font-weight:400;
  overflow-x:hidden;
  height:100%;
  margin-top:-20px;
  line-height: 150%;
}

#sec1{
  background-color: #323D59;
  width:100%;
}

#sec2 {
  background-color: #66AFEA;
}

#sec3 {
  background-color: #4487ED;
}

#sec4 {
  background-color: #129CCA;
}

#sec5 {
  background-color: #267FAA;
}

#sec6 {
  background-color: #5EABD4;
}

#sec7 {
  background-color: #129CCA;
}

#hthsTSATitle {
  text-align:center;
}

#hthsTSAHeader {
  text-align:center;
}

#hthsTSASlogan {
  text-align:center;
}

/*This is where TSA Section 1 Content Begins*/


/*This is where TSA Section 2 Content Begins*/
#tsaRow2 {
  margin-left:8%;
  margin-right:8%;
  color:black;
  text-align: center;
}

#iconStat {
  color:black;
  text-align: center;
}

#iconTitle {
  font-size: 25px;
  font-weight: bold;
}

#iconText {
  text-align: center;
}

/*This is where TSA Section 3 Content Begins*/



/*This is where TSA Section 4 Content Begins*/
#alex {
  width:150px;
  height:150px;
  text-align:center;
  border-radius:50%;

  -webkit-transition: .2s ease-in-out; /* Safari */
  -moz-transition: .2s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .2s ease-in-out; /* Microsoft specific */
  -o-transition: .2s ease-in-out; /* Opera */
  transition: .2s ease-in-out; /* general & Google Chrome */
}

#alex:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.8), 0 4px 15px 0 rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.8), 0 4px 15px 0 rgba(0, 0, 0, 0.6);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.8), 0 4px 15px 0 rgba(0, 0, 0, 0.6); 
}

#officerModalName {
  font-size: 25px;
  text-align:center;
}

#officerTitle {
  font-size:14px;
  text-align:center;
}

#alex, #anj, #sam, #eric, #kunaal, #anjc, #aparna, #darren, #dennis {
  width:150px;
  height:150px;
  text-align:center;
  border-radius:50%;

  -webkit-transition: .2s ease-in-out; /* Safari */
  -moz-transition: .2s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .2s ease-in-out; /* Microsoft specific */
  -o-transition: .2s ease-in-out; /* Opera */
  transition: .2s ease-in-out; /* general & Google Chrome */
}

/*This is where TSA Section 5 Content Begins*/
#stat1 {
  text-align:center;

}

#sec3Content {
  margin-left:5%;
  margin-right:5%;
  font-size: 14;
}

#lion {
  border-radius:50%;
}








