#lpImages {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all ease 2s;
}

#lpImages:hover {
	-webkit-filter: grayscale(20%);
    filter: grayscale(20%);
}

#lpLabel {
	color:#4169E1;
}