body{
  font-family: "Lato";
}

#sec1CTE, #sec2CTE, #sec3CTE, #sec4CTE, #sec5CTE{
	background-color:#778899; /*slate gray*/
}

h3{
	color:white;
	text-align:center;
}

/*
#sec1CTE img{
	width:30vw;
	height:30vh;
}


.card{
	height:25vh;
}
*/

#sec2CTE {
	background-color:;
}




/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 100px;
  height: 100px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.card1front{
  background:
    url("pictures/CTE/house.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.front img, .back img{
  height:100px;
  width:100px;
  overflow:hidden;
}

.card{
  width:100px;
}

.card-image{
    background-color:#778899;
}

.front {
  background-color:green;
}

.back {
  background-color:blue;
}
