html, body {
  width:100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body{
  font-family: "Lato";
  /*overflow-x:scroll;*/
}

.modal-close:hover{
  background-color:#C9D6FA;
}

.modal-close{
  /* CSS transitions */
  -webkit-transition: .5s ease-in-out; /* Safari */
  -moz-transition: .5s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .5s ease-in-out; /* Microsoft specific */
  -o-transition: .5s ease-in-out; /* Opera */
  transition: .5s ease-in-out; /* general & Google Chrome */
}

#section1, #section2,#section3,#section4,#section5,#section6{
  width:100%;
  height:100%;
  position:relative;
}

#section2 {
  background-image:url("pictures/CTE/reslab.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section3 {
  background-image:url("pictures/CTE/room170.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section4 {
  background-image:url("pictures/CTE/room185.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#section5 {
  background-image:url("pictures/CTE/room210.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

#section6 {
  background-image:url("pictures/CTE/room175.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chip{
  position:absolute;
  top:10px;
  left:10px;
  /* CSS transitions */
  -webkit-transition: .5s ease-in-out; /* Safari */
  -moz-transition: .5s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .5s ease-in-out; /* Microsoft specific */
  -o-transition: .5s ease-in-out; /* Opera */
  transition: .5s ease-in-out; /* general & Google Chrome */
}

ul li{
  list-style-type:circle;
}
/*FOR CLICK CIRCLES*/
a{
  display:block;
}

.circle1{
  border-radius:50%;
  background-color:transparent;
  border: 3px #e8f3fc solid;

  /* CSS transitions */
  -webkit-transition: .5s ease-in-out; /* Safari */
  -moz-transition: .5s ease-in-out; /* Mozilla Firefox */
  -ms-transition: .5s ease-in-out; /* Microsoft specific */
  -o-transition: .5s ease-in-out; /* Opera */
  transition: .5s ease-in-out; /* general & Google Chrome */
}

#microscopeline, #plantsline, #carsline, #mockup1line, #mockup2line, #posterline, #compline, #paperline, #houseline, #blueboxline, #bridgeline, #workline, #vexline, #projline{
  background-color:#e8f3fc;
}

.chip:hover,#house:hover, #bluebox:hover, #bridge:hover, #microscope:hover, #plants:hover, #plantsline, #cars:hover, #mockup1:hover, #mockup2:hover, #poster:hover, #comp:hover, #paper:hover, #work:hover, #vex:hover, #proj:hover{
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.7), 0 4px 15px 0 rgba(0, 0, 0, 0.4); 
}

#house:hover~#houselinetext, #bluebox:hover~#blueboxlinetext, #bridge:hover~#bridgelinetext, #microscope:hover~#microscopelinetext, #plants:hover~#plantslinetext, #cars:hover~#carslinetext, #mockup1:hover~#mockup1linetext, #mockup2:hover~#mockup2linetext, #poster:hover~#posterlinetext, #comp:hover~#complinetext, #paper:hover~#paperlinetext, #work:hover~#worklinetext, #vex:hover~#vexlinetext, #proj:hover~#projlinetext{
  opacity:100;
}

#phouse, #pbluebox, #pbridge, #pmicroscope, #pplants, #pcars, #pmockup1, #pmockup2, #pposter, #pcomp, #ppaper, #pwork, #pvex, #pproj{
  font-size:10pt;
  width:270px;
  position:absolute;
  bottom:3px;
  font-family:"Open Sans";
  text-align:justify;
  background-color:rgba(33,41,92,.7);
  font-weight:bold;
  color:white;
  padding-left:5px;
  padding-right:5px;
}

#houselinetext,#blueboxlinetext, #bridgelinetext, #microscopelinetext, #plantslinetext, #carslinetext, #mockup1linetext, #mockup2linetext, #posterlinetext, #complinetext, #paperlinetext, #worklinetext, #vexlinetext, #projlinetext{
  opacity:0;
  -o-transition: opacity .7s ease-in-out;
  -ms-transition: opacity .7s ease-in-out;
  -moz-transition: opacity .7s ease-in-out;
  -webkit-transition: opacity .7s ease-in-out;
  transition: opacity .7s ease-in-out;
}

/*PLANTS*/
#plants{
  position:relative;
  top:10%;
  left:27%;
  width:6%;
  height:6vw;
}

#plantsline{
  width:2px;
  height:1px;
  position:absolute;
  bottom:67.8%;
  left:30%;
}

#plantslinetext{
  background-color:transparent;
  position:relative;
  bottom:10%;
  left:23%;
  width:300px;
}

/*MICROSCOPE*/
#microscope{
  position:relative;
  top:47%;
  left:79.5%;
  width:11%;
  height:11vw;
}

#microscopeline{
  width:1px;
  height:2px;
  position:absolute;
  top:60%;
  right:20.3%;
}

#microscopelinetext{
  background-color:transparent;
  position:relative;
  top:37%;
  left:64.7%;
  width:300px;
}

/*WORKSPACE*/
#work{
  position:relative;
  top:40%;
  left:43%;
  width:6%;
  height:6vw;
}

#workline{
  width:2px;
  height:1px;
  position:absolute;
  bottom:59.8%;
  left:46%;
}

#worklinetext{
  background-color:transparent;
  position:relative;
  top:14%;
  left:39%;
  width:300px;
}

/*VEX*/
#vex{
  position:relative;
  top:47%;
  left:27%;
  width:10%;
  height:10vw;
}

#vexline{
  width:1px;
  height:2px;
  position:absolute;
  top:70%;
  left:36.9%;
}

#vexlinetext{
  background-color:transparent;
  position:relative;
  top:44%;
  left:45%;
  width:300px;
}

/*POE PROJECT*/
#proj{
  position:relative;
  top:0%;
  left:89.8%;
  width:4%;
  height:4vw;
}

#projline{
  width:1px;
  height:2px;
  position:absolute;
  top:36.5%;
  right:10.1%;
}

#projlinetext{
  background-color:transparent;
  position:relative;
  top:2%;
  left:66%;
  width:300px;
}

/*CARS*/
#cars{
  position:relative;
  top:60%;
  left:69%;
  width:8%;
  height:8vw;
}

#carsline{
  width:1px;
  height:2px;
  position:relative;
  top:53%;
  left:76.8%;
}

#carslinetext{
  background-color:transparent;
  position:relative;
  top:51%;
  left:78%;
  width:300px;
}

/*MOCKUP 1*/
#mockup1{
  position:relative;
  top:4%;
  left:18%;
  width:5%;
  height:5vw;
}

#mockup1line{
  width:1px;
  height:2px;
  position:relative;
  top:2%;
  left:22.4%;
}

#mockup1linetext{
  background-color:transparent;
  position:relative;
  top:1.4%;
  left:24%;
  width:300px;
}

/*MOCKUP 2*/
#mockup2{
  position:relative;
  top:30%;
  left:20%;
  width:20%;
  height:20vw;
}

#mockup2line{
  width:2px;
  height:1px;
  position:absolute;
  bottom:42%;
  left:33%;
}

#mockup2linetext{
  background-color:transparent;
  position:relative;
  bottom:17%;
  left:26%;
  width:300px;
}

/*HOUSE*/
#house{
  position:relative;
  top:56%;
  left:38%;
  width:7%;
  height:7vw;
}

#houseline{
  width:1px;
  height:2px;
  position:relative;
  top:51%;
  left:44.8%;
}

#houselinetext{
  background-color:transparent;
  position:relative;
  top:50%;
  left:46%;
  width:300px;
}

/*BLUE BOX*/
#bluebox{
  position:relative;
  top:27%;
  left:23.3%;
  width:4.5%;
  height:4.5vw;
}

#blueboxline{
  width:2px;
  height:1px;
  position:relative;
  top:26.8%;
  left:25.5%;
}

#blueboxlinetext{
  background-color:transparent;
  position:relative;
  top:35%;
  left:19%;
  width:300px;
}

/*BRIDGE*/
#bridge{
  position:relative;
  top:20%;
  left:60.5%;
  width:9%;
  height:9vw;
}

#bridgeline{
  width:2px;
  height:1px;
  position:absolute;
  bottom:65.5%;
  left:65%;
}

#bridgelinetext{
  background-color:transparent;
  position:relative;
  top:-10%;
  left:58%;
  width:300px;
}

/*POSTER*/
#poster{
  position:relative;
  top:-23.8%;
  left:66.5%;
  width:8%;
  height:8vw;
}

#posterline{
  width:2px;
  height:1px;
  position:relative;
  top:-24%;
  left:70.5%;
}

#posterlinetext{
  background-color:transparent;
  position:relative;
  top:-9%;
  left:63.5%;
  width:300px;
}

/*COMPUTER*/
#comp{
  position:relative;
  top:33%;
  left:23%;
  width:4.5%;
  height:4.5vw;
}

#compline{
  width:1px;
  height:2px;
  position:relative;
  top:29%;
  left:27.3%;
}

#complinetext{
  background-color:transparent;
  position:relative;
  top:28%;
  left:28%;
  width:300px;
}

/*PAPER*/
#paper{
  position:relative;
  top:63%;
  left:28%;
  width:8%;
  height:8vw;
}

#paperline{
  width:1px;
  height:2px;
  position:relative;
  top:55%;
  left:36%;
}

#paperlinetext{
  background-color:transparent;
  position:relative;
  top:54%;
  left:37%;
  width:300px;
}

/*START FLIP CARD CSS*/
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 100px;
  height: 100px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.card1front{
  background:
    url("pictures/CTE/house.jpg") no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.front img, .back img{
  height:100px;
  width:100px;
  overflow:hidden;
}

.card{
  width:100px;
}

.card-image{
  background-color:#778899;
}

.front {
  background-color:green;
}

.back {
  background-color:blue;
}
/* END FLIP CARD CSS */


/* START SIDE DOT NAVIGATION */
#sectionNav {
    display: block;
    position: fixed;
    top: calc(50% - 96px);
    right: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index:100;
}

#sectionNav li {
    position: relative;
    display: block;
}

#sectionNav li .label {
    position: absolute;
    display: block;
    text-align: right;
    width: 84px;
    top: 0px;
    right: 0px;
    padding-right: 25px;
    opacity: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: white;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

#sectionNav li .dot:hover .label {
    opacity: 1;
}

#sectionNav li .dot {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 4px;
    cursor: pointer;
}

#sectionNav li .dot .inner {
    display: block;
    position: relative;
    left: 8px;
    top: 8px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    opacity: 0.5;
    background: white;
}

#sectionNav li .dot:hover .inner:not(.active) {
    opacity: 1;
    width: 6px;
    height: 6px;
    top: 7px;
    left: 7px;
}

#sectionNav li .dot .active {
    opacity: 1;
    width: 8px;
    height: 8px;
    top: 6px;
    left: 6px;
}
/*END SIDE DOT NAVIGATION*/